@model IEnumerable<Treino_Mvc.Models.Noticia>
@{
    ViewData["Title"] = "Home Page";
}

<partial  name="_SlideShow" />



<div>
    @foreach(var item in Model)
    {
        <p><img src="@item.Imagem" class="img-fluid" asp-append-version="true" style="height:100px; width: 100px" /></p>
        @Html.DisplayFor(modelItem => item.Titulo);
    }
</div>
